// --------playing video-------
.play-container {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

// --------video right side-------
.video-right-side {
    flex-basis: 30%;
}