//change password
.change-btn {
    box-sizing: border-box;
    background-color: gainsboro;
    padding: 7px 20px;
    border-radius: 20px;
    transition: 0.5s;
    border: 1px;
}

.confirm {
    display: flex;
    justify-content: end;
}

.change-btn:hover {
    cursor: pointer;
    background-color: rgb(174, 173, 173);
}

.row {
    padding: 10px;
    display: flex;
}

//alert
.text-danger {
    color: rgb(206, 26, 26);
    margin: 0;
    padding-left: 180px;
    font-size: 1.2rem;
}