//view chart
.dashboard-chart,
.kanban {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.dashboard-chart > div,
.kanban > div {
    width: 50%;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: rgb(107, 103, 103);
}

//kanban
.kanban {
    width: 100%;
}

.kanban div :nth-child(1) {
    color: rgb(19, 89, 182);
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

//container
.report-chart {
    overflow-y: scroll;
}

.display-options {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}